﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc

@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="~/css/foundation.css" />
    <link rel="stylesheet" href="~/css/app.css" />
	<link rel="stylesheet" href="~/css/jeditraining.css" />
	
  </head>
  <body>

    <div class="row">
      <div class="large-8 columns">
        <h1>Jedi Training Systems</h1>
      </div>
		  <div class="large-4 columns">
			  @Html.Partial("LoginStatus")
			  
			  </div>
    </div>
	
		  @Html.Partial("Nav")
		  @Html.Partial("Breadcrumb")

	@RenderBody()

		  @Html.RenderJsHere()

    <script src="~/scripts/vendor/jquery.min.js"></script>
    <script src="~/scripts/vendor/what-input.min.js"></script>
    <script src="~/scripts/foundation.min.js"></script>
    <script src="~/scripts/app.js"></script>
  </body>
</html>
