﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ContentMaster.cshtml";
}
<div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <h2>@Umbraco.Field("coursetitle")</h2>
			@Umbraco.Field("coursecontent")
			</div>
			  </div>
			  </div>