﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ContentMaster.cshtml";
}

<div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          @Html.Partial("ListChildNodes")
			</div>
			  </div>
			  </div>