﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ContentMaster.cshtml";
}
 <div class="row">
      <div class="large-12 columns">
        <div class="callout large">
          <h3>@Umbraco.Field("headline")</h3>
			@Umbraco.Field("bodytext")
</div>
			  </div>
			  </div>
			  